<div class="navbar">
  <div class="brand">
    <a href="/"><img src="/assets/img/persona-brand.png" alt="" /></a>
  </div>

  <p class="logged-text"></p>

  <div class="links">
    <a href="/">Home</a>
    <a href="/characters">Characters</a>
  </div>
</div>
