<div class="navbar">
  <div class="brand">
    <h1>Persona</h1>
  </div>

  <div class="links">
    <a href="/">Home</a>
    <a href="/characters">Characters</a>
    <a href="/add">Add a character</a>
  </div>
</div>
